:root{
    --primary:#047CEA;
    
}
/*  ------------------------------------------------------------------  */
@media (min-width: 1rem) {
    .hidden-mobile {
        display: none;
    }
    .round{
        margin:20px auto;
        display: block;
    }
    .icon{
        font-size: 50px;    
        margin-top:1rem ;
    }
    #education img,#experience img{
        width: 100%;
            max-height: 260px;
    }
    .card{
        width: 90% !important;
    }
    .round{
            width: 25vw;
    height: 25vw;
    }
    nav{
    background-color:var(--primary);
    }
}
/*@media (min-width: 30rem) {
     :root {
        --current-breakpoint: 'sm: 30rem \21A6';
    }
    .hidden-mobile {
        display: none;
    }
    .hidden-desktop {
        display: block;
    }

}*/

@media (min-width: 36rem) {
  /*   :root {
        --current-breakpoint: 'sm: 36rem \21A6';
    }*/
    .hidden-mobile {
        display: block;
    }
    .hidden-desktop {
        display: none;
    }
    nav{
        background: none;
    }
    .round{
        margin:20px auto;
        display: block;
        width: 13vw;
        height: 13vw;
    }
    .icon{
        font-size: 50px;    
        margin-top:1rem ;
    }
    nav{
    background-color:var(--primary);
    }
}

@media (min-width: 48rem) {
   /*  :root {
        --current-breakpoint: 'md: 48rem \21A6';
    }*/

    .hidden-tablet {
        display: none;
    }
    .hidden-mobile {
        display: block;
    }
    .hidden-desktop {
        display: none;
    }
    nav {
        background: none;
    }
    .icon{
        font-size: 50px;    
        margin-top:0.2rem ;
    }
    .round{
        padding: 3vw 0px;
        width: 13vw;
        height: 13vw;
    }

}

@media (min-width: 62rem) {
 /*    :root {
        --current-breakpoint: 'lg: 62rem \21A6';
    }*/
    .hidden-tablet {
        display: block;
    }
    .hidden-mobile {
        display: block;
    }
    .hidden-desktop {
        display: none;
    }
    .round{
        
        width: 13vw;
        height: 13vw;
    }

}

@media (min-width: 75rem) {
  /*   :root {
        --current-breakpoint: 'xl: 75rem \21A6';
    }*/
    .hidden-tablet {
        display: block;
    }
    .hidden-mobile {
        display: block;
    }
    .hidden-desktop {
        display: none;
    }
    .round{
        padding: 2.5rem 0px;
    }
    .icon{
        font-size: 5em;
         /*margin-top:0.5rem ;*/
    }
     .round{
        
        width: 13vw;
        height: 13vw;
    }

}




/*  This is only for demo purposes so we can see it easier.
/*  ------------------------------------------------------------------  */

/*html:before {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: system-ui;
    display: block;
    padding: 0.25em 0.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}*/